# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-artifact
dist-ssr
deploy

# Local env
.env
.env.local
.env.*.local
.deploy.env

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
